@font-face{
    font-family: 'Gotham - Book';
    src: url(../fonts/GothamBook/GothamBook.woff) format('woff');
}
@font-face{
    font-family: "Gotham";
    src: url(../fonts/gothambold/gothambold1.woff) format('woff');
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');